* {
    box-sizing: border-box;
}

header {
    background-color: #FF9A8D;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(double-bubble-dark/double-bubble-dark.png);
}

p {
    font-size: .9rem;
}

h1 {
    grid-area: header;
    text-align: center;
}

h2 {
    font-size: 1.25em;
}

a img {
    width: 200px;
    height: auto;
}

nav {
    grid-area: nav;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 10px 5rem;
    width: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #4A536B;
    color: white;
}

.navbar-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li:hover {
    background-color: #AED6DC;
    color: black;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: .75rem;
    display: block;
}

.navbar-links li a:hover {
    color: black;
}

.frag-table {
    float: left;
    border: 1px solid black;
    padding: 1rem;
    width: 20%;
    text-align: center;
    margin: 2em 2em .5em 0;
    background-color: lightgray;
}

.frag-table th {
    text-align: center;
    font-size: 1rem;
}

.frag-table td {
    text-align: left;
    font-size: .95rem;
}

.frag-table a {
    text-decoration: none;
}

.frag-table a:hover {
    text-decoration: underline;
}

.frag-table a:visited {
    color: blue;
}

.gen-table {
    float: right;
    border: 1px solid black;
    padding: 1rem;
    width: 20%;
    margin: 2em .5em .5em 2em;
    background-color: lightgray;
}

table th {
    font-size: 75%;
    vertical-align: top;
    text-align: left;
    line-height: 1.5em;
    max-width: 200px;
}

.main-header {
    background-color: #4A536B;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.header {
    background-color: #4A536B;
    color: white;
    text-align: center;
}

table td {
    font-size: 75%;
}

table img {
    width: 200px;
    height: auto;
}

.info {
    clear: left;
}

.underline {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

main {
    grid-area: main;
    background-color: white;
    padding: 0 2rem 5rem 2rem;
}

footer {
    grid-area: footer;
    background-color: #FF9A8D;
    font-size: .6em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
}

#wrapper {
    display: grid;
    background-color: white;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    min-height: 95vh;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px black;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "nav header"
    "nav main"
    "footer footer";
}
/* 
---------------------------------------------------
                    Table CSS
--------------------------------------------------- 
*/
