* {
    box-sizing: border-box;
}

body {
    padding-top: 0;
    margin: 0;
    background-color: lightgrey;
}

header {
    position: relative;
    font-size: 1em;
    padding: 0 1rem 0 1rem;
}

header h1 {
    padding-top: 2rem;
}

header p {
    position: absolute;
    font-size: 1rem;
    font-style: italic;
    right: 4em;
    top: 2rem;
}

h2 {
    margin-block-end: 0;
}

small {
    color: grey;
}

small a {
    color: grey;
}

blockquote {
    font-style: italic;
}

img {
    width: 100%;
    align-content: center;
    height: auto;
    vertical-align: bottom;
}

nav {
    padding: 0 1rem 0 1rem;
    margin-bottom: 3rem;
}


main {
    grid-area: main;
}

main p a {
    color : blue;
}

aside {
    grid-area: aside;
    background-color: limegreen;
}

footer {
    grid-area: footer;
    background-color: turquoise;
    border-top: 2px solid black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: black;
    color: white;
    
}

.navbar-links ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li:hover {
    background-color: #3B3D3B;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: .75rem;
    display: block;
}

.wrapper {
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    max-width: 1280px;
    min-height: 90vh;
}

.text-box {
    background-color: #c8e1f9;
    border-top: 5px solid black;
    padding: 0 1rem 1rem 1rem;
}

.grid-padding {
    padding: 0 1rem 0 1rem;

}
.grid-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "main aside"
    "footer footer";
    grid-gap: 0 1rem;
}
